/*! Custom */
// Place here your custom styles

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    background-color: transparent;
}

.table.bordered {
    border: 1px solid #b4bcc2;
}
.table-inverse {
    color: #fff;
    background-color: #373a3c;
}
.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #ecf0f1;
}
.table th, .table td {
    padding: 0.5rem 0.75rem;
    vertical-align: top;
    border-top: 1px solid #b4bcc2;
}


