// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.


// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

// Create grayscale
$gray-dark:                 #333 !default;
$gray:                      #ccc;
$gray-light:                #eee;
$gray-lighter:              #f1f1f1;
$gray-lightest:             #f5f5f5;


// Reassign color vars to semantic color scheme
$brand-primary:             #3572b0;
$brand-primary-darken:      #205081;
$brand-primary-lighter:     #000;
$brand-primary-lightest:    #9cbad9;

$brand-success:             #14892C;
$brand-info:                #4A6785;
$brand-warning:             #F6C342;
$brand-danger:              #D04437;
$brand-moved:               #815B3A;

// Options
//

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg:       #fff !default;
$body-color:    $gray-dark !default;

// Links
//
// Style anchor elements.

$link-color:            $brand-primary;
$link-decoration:       underline !default;
//$link-hover-color:      darken($link-color, 5%) !default;
$link-hover-decoration: underline !default;


$font-family-base:      Roboto, Arial, sans-serif !default;
$font-size-base:        14px;
$line-height-base:      1.42857142857143;// 1/0.7

$font-size-small:       12px;

$font-family-mono:      Consolas, "Liberation Mono", monospace;
$font-size-mono:        13px;


