/*! Button groups */

.btns {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}
/* .btns:after {
  clear: both;
  content: "";
  display: table;
} */
.btns .btn {
  border-radius: 0;
  margin: 0;
}
.btns .btn:first-child {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}
.btns .btn:last-child {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

/* .btns + .btns {
  margin-left: 10px;
} */
.btns .btn[disabled],
.btns .btn[disabled]:hover,
.btns .btn[disabled]:focus,
.btns .btn[disabled]:active {
  border-color: #ddd;
}
/* Grouped Primary Buttons */
.btns .btn ~ .btn {
  border-left-width: 0;
}
.btns .btn ~ .btn:hover,
.btns .btn ~ .btn:focus,
.btns .btn ~ .btn:active {
  border-width: 1px;
  margin-left: -1px;
  position: relative;
}