/*! Columns */

// Breakpoints order from large to small (Downsize).
.show-xs,
.show-sm,
.show-md,
.show-lg,
.show-xl {
  display: none !important;
}

// Responsive grid system
.cols {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$column-gap;
  margin-right: -$column-gap;

  &.-gapless {
    margin-left: 0;
    margin-right: 0;

    & > .col, 
		& > [class*="col-"] {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0; 
    }
  }
  &.-oneline {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  &.-tiled {
    align-items: stretch;
  }
}

[class*="col-"] {
  padding-left: $column-gap;
  padding-right: $column-gap;
  padding-bottom: $column-gap*2;
	flex: none;
}
.col {
  flex: 1;
  max-width: 100%;
  padding-left: $column-gap;
  padding-right: $column-gap;
  padding-bottom: $column-gap*2; //
  
  &.col-narrow {
    flex: none;
  }
  &.col-tiled {
    display: flex;
    align-items: stretch;
  }
}

@for $i from 12 through 1 {
  .col-#{$i} {
    width: percentage($i/12);
  }
}


.col-auto {
  flex: 0 0 auto;
  max-width: none;
  width: auto;
}
.col-mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.col-ml-auto {
  margin-left: auto;
}
.col-mr-auto {
  margin-right: auto;
}
@media (max-width: $size-xl) {
  @for $i from 12 through 1 {
    .col-xl-#{$i} {
      width: percentage($i/12);
    }
  }
  
  .hide-xl {
    display: none !important;
  }
  .show-xl {
    display: block !important;
  }
}
@media (max-width: $size-lg) {
  @for $i from 12 through 1 {
    .col-lg-#{$i} {
      width: percentage($i/12);
    }
  }
  .hide-lg {
    display: none !important;
  }
  .show-lg {
    display: block !important;
  }
}
@media (max-width: $size-md) {
  @for $i from 12 through 1 {
    .col-md-#{$i} {
      width: percentage($i/12);
    }
  }
  .hide-md {
    display: none !important;
  }
  .show-md {
    display: block !important;
  }
}
@media (max-width: $size-sm) {
  @for $i from 12 through 1 {
    .col-sm-#{$i} {
      width: percentage($i/12);
    }
  }
  .hide-sm {
    display: none !important;
  }
  .show-sm {
    display: block !important;
  }
}
@media (max-width: $size-xs) {
  @for $i from 12 through 1 {
    .col-xs-#{$i} {
      width: percentage($i/12);
    }
  }
  .hide-xs {
    display: none !important;
  }
  .show-xs {
    display: block !important;
  }
}
