/*! Tabs */

// default style
.tabs {
  margin: 0 0 14px 0;
  padding:0px;
  position: relative;
}

.tabs__item {
  margin: 2px 0 -1px 0;
  display:inline-block;
}
.tabs__link {
  display: block;
  text-decoration: none;
  padding:6px 8px;
  border-bottom: 3px solid transparent;
}
.tabs__link:hover {
  /* background:#EEF2F2; */
  color: #333;
  text-decoration: none;
}
.tabs__link.-active, .tabs__link.-active:hover{
  color: #333;
  border-bottom: 3px solid $brand-primary;
}
// -----------------
// classic style
.tabs.-classic {
  padding-left:8px;
}
.tabs.-classic .tabs__link {
  display: block;
  text-decoration: none;
  padding:4px 10px;
  //padding-top:2px;
  border-bottom: 1px solid transparent;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
   border-top: 1px solid #fff;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}
.tabs.-classic .tabs__link:hover {
  color: $gray-dark;
  text-decoration: none;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
   border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #F7F7F7;
}
.tabs.-classic .tabs__link.-active, 
.tabs.-classic .tabs__link.-active:hover{
  background: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
   border-top: 1px solid #ddd; //$brand-primary;
  border-bottom: 1px solid transparent;
  color: #333;
}
.tabs.-classic .tabs2__link.-grey.-active, 
.tabs.-classic .tabs2__link.-grey.-active:hover {
  background: $gray-lightest;
}

// rectangular style
// .tabs.-rect {
  // padding: 0;
// }
.tabs.-rect .tabs__item {
  margin: 0;
}
.tabs.-rect .tabs__link {
  padding:3px 8px;
  border:none;
}
.tabs.-rect .tabs__link:hover {
  background-color: rgba(0,0,0,0.1);
}
.tabs.-rect .tabs__link.-active, 
.tabs.-rect .tabs__link.-active:hover{
  background-color: $brand-primary;
  color: #fff;
}
// rounded style
.tabs.-rounded {
  //padding: 0;
  border-radius: 3px;
}
.tabs.-rounded.-bordered {
  //padding: 0;
  border-radius: 6px;
}

.tabs.-rounded .tabs__item {
  margin: 0;
}
.tabs.-rounded .tabs__link {
  display: block;
  text-decoration: none;
  padding:2px 7px;
  border-radius: 3px;
  border: 1px solid transparent;
}
.tabs.-rounded .tabs__link:hover {
  background-color: rgba(0,0,0,0.1);
}
.tabs.-rounded .tabs__link.-active, 
.tabs.-rounded .tabs__link.-active:hover{
  background-color: $brand-primary;
  border: 1px solid rgba(0,0,0,0.1);
  color: #fff;
}

.tabs.-underscored {
  border-bottom: 1px solid #ddd;
}
.tabs.-bordered {
  padding:3px;
  border: 1px solid rgba(0,0,0,0.1);
}
.tabs.-with-bg {
  background:rgba(0, 0, 0, 0.05);
}
